.allBlock {
    margin: 20px;
    width: 400px;
}

.divBlock {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-size: 20px;
}

.allbtn {
    display: flex;
    justify-content: space-around;

}

.btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 10px;
    background-color: #bce3e3;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.btn:active {
    background-color: #005288;
}
